* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background: url('../img/rqucuvqfhw9bhjmuf9g2.jpeg') no-repeat center center / cover;
    height: 940px;
}

input:focus {
    outline: none;
    border: none;
}

.write-name {
    margin-top: 280px;
}

.write-name__header {
    text-align: center;
    color: pink;
    font-size: 65px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 
                 0 0 20px #ffffff, 0 0 40px #ff00de, 
                 0 0 80px #ff00de, 0 0 90px #ff00de, 
                 0 0 100px #ff00de, 0 0 150px #ff00de;

}

.input-name {
    display: block;
    height: 40px;
    width: 269px;
    margin: 26px auto;
    padding: 4px 10px;
    font-size: 30px;
    letter-spacing: 1.2px;
    color: darkred;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    border: 2px solid blue;
    box-shadow: 1px 0px 24px 5px blue;
}

.input-name__alert {
    font-size: 40px;
    color: brown;
    border-radius: 4px;
    padding: 6px;
}

.input-name__description {
    text-align: center;
    font-size: 38px;
    color: yellow;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 
                 0 0 20px #ffffff, 0 0 40px yellow, 
                 0 0 80px yellow, 0 0 90px yellow, 
                 0 0 100px yellow, 0 0 150px yellow;
}


.input-name:focus {
    text-shadow: 0 0 5px darkred;
}

.input-name:not(:focus) {
    text-shadow: 0 0 5px darkred;
}

.tetris-main {
    display: none;
    justify-content: flex-end;
    width: 869px;
}

.tetro-block {
    width: 49%;
    border: 2px pink;
}

.tetris-preview {
    margin-left: 100px;
}

.score {
    margin: 0 0 100px 100px;
    height: 100px;
    width: 180px;
    border-radius: 3px;
    background-color: rgba(62, 135, 105, .9);
    padding: 10px;
    box-shadow: 0px 0px 20px 9px rgba(62,135, 105, .9);
}

.score__number {
    padding-left: 7px;
    font-size: 25px;

}

.score__user-name {
    text-align: center;
    font-size: 29px;
}

.score-table {
    position: absolute;
    display: none;
    align-self: center;
    width: 450px;
    height: 700px;
    padding: 50px;
    background-color: rgba(100, 149, 237, .9 );
    border-radius: 5px;
}

.user-info {
    width: 100%;
    text-align: center;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 32px;
}